body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:941px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:941px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:508px;
  width:354px;
  height:58px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:58px;
  font-family:'Poppins';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:618px;
  width:354px;
  height:58px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:58px;
  font-family:'Poppins';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:811px;
  width:208px;
  height:58px;
  font-family:'Poppins';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:811px;
  width:209px;
  height:58px;
  font-family:'Poppins';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
